<!DOCTYPE HTML>
<html>
    <head>
        <title>Magica11y</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lovers+Quarrel&display=swap" />
    </head>
    <body>

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
            <header id="header">
                <span class="logo"><img src="https://cdn.jsdelivr.net/npm/emojione-assets@3.0.0/png/128/1f52e.png" alt="Crystal ball" width="128" height="128" /></span>
                <h1>Magica11y</h1>
                <p><b>A suite of utilities to make your website more accessible</b>
                <p>Handcrafted with &hearts; by <a href="https://twitter.com/rishabh_ink">@rishabh_ink</a></p>
            </header>

            <div id="main">
                <section id="intro" class="main">
                    <div class="spotlight">
                        <div class="content">
                            <p>Magica11y functions are awesome because…</p>
                            <ul>
                                <li>They have <strong>zero</strong> dependencies</li>
                                <li>They’re <strong>lightweight</strong></li>
                                <li>They use the <strong><a href="https://developer.mozilla.org/docs/Web/API/Window/matchMedia"><code>window.matchMedia</code></a></strong> API underneath</li>
                                <li>They’re optimized for <strong>performance</strong>; all the module functions are designed in such a way that they exit early</li>
                                <li>They provide a <strong>clean</strong>, <strong>well-documented</strong> and <strong>semantic</strong> API to work with</li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section id="first" class="main special">
                    <ul class="features">
                        <li>
                            <img src="https://cdn.jsdelivr.net/npm/emojione-assets@3.0.0/png/128/1f4fa.png" alt="Television" width="128" height="128" />
                            <h3><code>environment-blending()</code></h3>
                            <p>Your current environment display blending is <strong id="environmentBlendingResult">&#9676;</strong>.</p>
                            <a href="https://github.com/magica11y/environment-blending" class="button">View on GitHub</a>
                        </li>
                        <li>
                            <img src="https://cdn.jsdelivr.net/npm/emojione-assets@3.0.0/png/128/1f3a8.png" alt="Artist palette" width="128" height="128" />
                            <h3><code>forced-colors()</code></h3>
                            <p>Your current forced-colors setting is <strong id="forcedColorsResult"></strong>.</p>
                            <a href="https://github.com/magica11y/forced-colors" class="button">View on GitHub</a>
                        </li>
                        <li>
                            <img src="https://cdn.jsdelivr.net/npm/emojione-assets@3.0.0/png/128/1f31a.png" alt="New moon" width="128" height="128" />
                            <h3><code>inverted-colors()</code></h3>
                            <p>Your current inverted color setting is <strong id="invertedColorsResult"></strong>.</p>
                            <a href="https://github.com/magica11y/inverted-colors" class="button">View on GitHub</a>
                        </li>
                        <li>
                            <img src="https://cdn.jsdelivr.net/npm/emojione-assets@3.0.0/png/128/1f56f.png" alt="Candle" width="128" height="128" />
                            <h3><code>light-level()</code></h3>
                            <p>Your current ambient light-level is <strong id="lightLevelResult"></strong>.</p>
                            <a href="https://github.com/magica11y/light-level" class="button">View on GitHub</a>
                        </li>
                        <li>
                            <img src="https://cdn.jsdelivr.net/npm/emojione-assets@3.0.0/png/128/1f317.png" alt="Last quarter moon" width="128" height="128" />
                            <h3><code>prefers-color-scheme()</code></h3>
                            <p>Your color scheme preference is <strong id="prefersColorSchemeResult"></strong>.</p>
                            <a href="https://github.com/magica11y/prefers-color-scheme" class="button">View on GitHub</a>
                        </li>
                        <li>
                            <img src="https://cdn.jsdelivr.net/npm/emojione-assets@3.0.0/png/128/1f506.png" alt="High brightness" width="128" height="128" />
                            <h3><code>prefers-contrast()</code></h3>
                            <p>Your current contrast preference is <strong id="prefersContrastResult"></strong>.</p>
                            <a href="https://github.com/magica11y/prefers-contrast" class="button">View on GitHub</a>
                        </li>
                        <li>
                            <img src="https://cdn.jsdelivr.net/npm/emojione-assets@3.0.0/png/128/1f3a2.png" alt="Roller coaster" width="128" height="128" />
                            <h3><code>prefers-reduced-motion()</code></h3>
                            <p>Your current motion preference is <strong id="prefersReducedMotionResult"></strong>.</p>
                            <a href="https://github.com/magica11y/prefers-reduced-motion" class="button">View on GitHub</a>
                        </li>
                        <li>
                            <img src="https://cdn.jsdelivr.net/npm/emojione-assets@3.0.0/png/128/1f48e.png" alt="Gem" width="128" height="128" />
                            <h3><code>prefers-reduced-transparency()</code></h3>
                            <p>Your current transparency preference is <strong id="prefersReducedTransparencyResult"></strong>.</p>
                            <a href="https://github.com/magica11y/prefers-reduced-transparency" class="button">View on GitHub</a>
                        </li>
                    </ul>
                </section>
            </div>

            <footer id="footer">
                <section>
                    <h2>Magica11y</h2>
                    <p>Licensed under <a href="https://opensource.org/licenses/MIT">MIT</a>.</p>
                    <a href="https://github.com/magica11y" class="button">View on GitHub</a></li>
                </section>
                <p class="copyright">Website theme modified from <a href="https://html5up.net/stellar">Stellar by HTML5 UP</a></p>
            </footer>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/@magica11y/environment-blending@latest/dist/magica11y.environmentBlending.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@magica11y/forced-colors@latest/dist/magica11y.forcedColors.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@magica11y/inverted-colors@latest/dist/magica11y.invertedColors.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@magica11y/light-level@latest/dist/magica11y.lightLevel.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@magica11y/prefers-color-scheme@latest/dist/magica11y.prefersColorScheme.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@magica11y/prefers-contrast@latest/dist/magica11y.prefersContrast.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@magica11y/prefers-reduced-motion@latest/dist/magica11y.prefersReducedMotion.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@magica11y/prefers-reduced-transparency@latest/dist/magica11y.prefersReducedTransparency.min.js"></script>
        <script>
            (function(magica11y) {
                'use strict';

                const magica11yAPIMethods = [
                    'environmentBlending',
                    'forcedColors',
                    'invertedColors',
                    'lightLevel',
                    'prefersColorScheme',
                    'prefersContrast',
                    'prefersReducedMotion',
                    'prefersReducedTransparency'
                ];

                const fallbackMessage = 'not available';

                magica11yAPIMethods.forEach(function(magica11yAPIMethod) {
                    const magica11yFn = magica11y[magica11yAPIMethod];
                    const resultElement = document.querySelector(`#${magica11yAPIMethod}Result`);

                    if(magica11yFn) {
                        resultElement.textContent = magica11yFn.default() || fallbackMessage;
                    } else {
                        resultElement.textContent = fallbackMessage;
                    }
                });
            })(window.magica11y);
        </script>
    </body>
</html>
